NEXT_PUBLIC_SUI_NETWORK=mainnet
NEXT_PUBLIC_SUI_RPC_URL=https://fullnode.mainnet.sui.io:443
NEXT_PUBLIC_SUI_FALLBACK_RPC_URL=https://sui-rpc.publicnode.com
NEXT_PUBLIC_MAINNET_WALRUS_PUBLISHER_URL=https://upload-relay.mainnet.walrus.space
NEXT_PUBLIC_TESTNET_WALRUS_PUBLISHER_URL=https://upload-relay.testnet.walrus.space
NEXT_PUBLIC_MAINNET_PACKAGE_ID=
NEXT_PUBLIC_TESTNET_PACKAGE_ID=
